<h1>The Blue Spoon is owned by Jenny, who learned a love of baking from her mother.  Making good food runs in the family.</h1>
<h2>We want to share all the great things we shared growing up and some new treats as well!</h2>
