<div class="panel panel-default">
  <div class="panel-body">
    <h4>Thank you!  We have received your message and will respond as soon as possible.</h4>
  </div><!-- panel-body -->
</div><!-- panel -->

<%= link_to("View our products!", @product, class: "btn btn-default") %>
