<div class="panel panel-default">
  <div class="panel-body">
    <h4>Thank you!  You can expect to receive your order within one week!</h4>
  </div><!-- panel-body -->
</div><!-- panel -->

<%= link_to("View our products!", @product, class: "btn btn-default") %>
