/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 60px;
  background-image: url('./app/assets/images/whitebrick.jpg');
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: skyblue;
  color: white;
}

.form-signin {
  max-width: 400px;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
}

.signin-heading {
  margin-bottom: 30px;
  font-family: Georgia, serif;
}

.email-signin {
  margin: 0 auto;

}

.email-input, .password-input, .comment-input {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.25em;
}

.remember-me {
  margin: 0 auto;
  display: inline-block;
  max-width: 100%
}

.login-links {
  max-width: 400px;
  padding: 20px 0;
  margin: 0 auto;
}

.login-links a{
  font-size: 1.35em;
  font-family: Georgia, serif;
}

.show-product {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-family: Georgia, serif;
}

.show-product h2 {
  font-family: Georgia, serif;
}
