<div class="product-reviews">
    <% @comments.each do |comment| %>
        <%= render partial: "comments/comment", locals: {comment: comment} %>
    <% end %>
</div>

<div class="flickr_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <br>
    <%= will_paginate @comments, :container => false %>
  </div>

<br><br>
